#!/bin/bash
# Restart consumer inside Docker container
docker exec -d -u root {{ container_name }} su www-data -s /bin/sh -c "pkill -f '{{ script_path }}' || true" 2>&1
sleep 2
docker exec -d -u root {{ container_name }} su www-data -s /bin/sh -c "/usr/local/bin/php {{ script_path }}" 2>&1