destination d_logtail {
 syslog(
   "in.logs.betterstack.com"
   transport("tls")
   port(6514)
   tls(
     peer-verify(required-trusted)
     ca-dir("/etc/syslog-ng/ca.d")
     trusted-dn("CN=*.logs.betterstack.com")
     sni(yes)
   )
 );
};

rewrite add_logtail_credentials {
    set("{{ betterstack_token }}" value(".SDATA.logtail@11993.source_token"));
};

template t_betterstack {
    template("$(format-json --pair level=\"${tinkoff.level_name}\" --pair message=\"$MSG\" --pair source=\"${tinkoff.PROGRAM}\"--pair  [logtail@11993 source_token=\"{{ betterstack_token }}\"])\n");
};

log {
 source(s_tinkoff);
 rewrite(add_logtail_credentials);
 parser(p_json);
 destination(d_logtail);
};