source s_tinkoff {
	wildcard-file(
		base-dir("{{ tinkoff_server_logs_base_path }}")
		filename-pattern("*.log")
		recursive(yes)
		flags(no-parse)
	);
};

template t_sematext {
	template("$(format-json --pair severity=\"${tinkoff.level_name}\" --pair message=\"$MSG\" --pair source=\"${tinkoff.PROGRAM}\"--pair logsene-app-token=\"{{ sematext_token }}\")\n");	
};

parser p_json {
	json-parser(
		prefix("tinkoff.")
	);
};

destination d_sematext {
	tcp("logsene-syslog-receiver.sematext.com" port(514) template(t_sematext));
};

log { source(s_tinkoff); parser(p_json); destination(d_sematext); };
