destination d_telegram {
	http(
		url("https://api.telegram.org/bot{{ telegram_alerts_token }}/sendMessage")
   		method("POST")
    		body("{\"chat_id\":\"{{ telegram_alerts_chat_id }}\", \"text\": \"${tinkoff.level_name}\\n${tinkoff.PROGRAM}\\nhttps://logs.betterstack.com\/team\/307514\/dashboards\/376884\"}")
		headers("Content-Type: application/json")
		retries(3)
	);
};

filter f_errors {
	"${tinkoff.LEVEL_NUM}" <= "3"
};

log { source(s_tinkoff); parser(p_json); filter(f_errors); destination(d_telegram); };
