backupfolder={{ database_backup_folder }}
# MySQL user
user={{ database_user }}
# MySQL password
password={{ database_password }}
# Number of days to store the backup 
keep_day=30 
sqlfile=$backupfolder/all-database-$(date +%d-%m-%Y_%H-%M-%S).sql
zipfile=$backupfolder/all-database-$(date +%d-%m-%Y_%H-%M-%S).zip 
# Create a backup 
docker exec {{ database_container_name }} mysqldump -u$user -p$password --all-databases > $sqlfile 
dump_result=$?
if [ ${dump_result} == 0 ]; then
  echo 'Sql dump created' 
else
  echo 'mysqldump return non-zero code' ${dump_result}
fi 
# Compress backup 
zip $zipfile $sqlfile 
if [ $? == 0 ]; then
  echo 'The backup was successfully compressed' 
else
  echo 'Error compressing backup'
fi 
rm $sqlfile 
# Delete old backups 
find $backupfolder -mtime +$keep_day -delete
